//font from google
@import url('https://fonts.googleapis.com/css?family=Montserrat');


//Color Pallete
$PrimaryBackground: #ececec ;
$SecondaryBackground: #436fff;
$fontC: #454552;
$aC: rgb(24, 18, 104);
$aHovC: rgb(36, 69, 255);
$btnHovC: rgb(30, 58, 216);
$borderC: rgb(221, 221, 221);

$seafoam: rgb(0, 195, 255);
$lightblue: #1fa9ff;
$berryRed: #3061ca;
$alertOrange: rgb(255, 128, 44);

body {
    font-family: Montserrat;
    color: $fontC;
}

//Header
.Header {
    width: 100%;

    .NavHeader {
        background-color: $PrimaryBackground;

        img {
            height: 35px;
            margin: 0px;
        }

        .imgNav {
            margin: 0 -3px 0 0px;
            height: 30px;
        }
        
        .NavItems {
            font-size: 16px;
            margin-left: 12px;
            color: $SecondaryBackground;
                &.icon {
                    margin-left: 7px;
                    img {
                        height: 25px;
                    }
                }

            &:hover {
                color: $lightblue;
            }
        }
    }
}

//Home Page
//Slide.js
.CarouselStyle {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
        min-height: 500px;
        max-height: 500px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }
}

.container {
    h1 {
        font-size: 38px;
        text-align: center;
        font-weight: bolder;
        margin: 25px 0 0 0;
    }

    h4 {
        margin: 0 0 0 25px;
    }

    p {
        text-align: justify;

        &.normaltext {
            margin: 20px 20px 20px 25px;
        }

        &.indentText {
            text-indent: 50px;
        }
    }

    ul {
        li {
            margin: 5px 5px 5px 50px; 
        }
    }

    .aboutImg {
        width: 50%;
        height: 50%;
        margin: 25px 0 30px 25%;
        border-radius: 5px;
    }

    .contactContent {
        margin: 20px 0 25px 0;

        .imgSide {
            text-align: center;

            img {
                border: #d6d6d6 1px solid;
                border-radius: 5px;
                height: 250px;
            }
        }
    }
}

.cardContainer {
    margin: 0 0 30px 0;

    .card {
        height: 392px;
        width: 310px;
        margin: auto;
        margin-top: 15px;

        img {
            width: 100%;
            height: 180px;
            background: linear-gradient(to bottom right, $berryRed, $lightblue);
        }

        .btn {
            background: linear-gradient(to bottom right, $lightblue, $seafoam);
            outline: none;
            border: none;

            &:hover {
                background-color: $btnHovC;
            }

            &.editBtn {
                width: 100px;
                background: linear-gradient(to bottom right, rgb(92, 218, 155), rgb(92, 197, 153));
            }
        
            &.deleteBtn {
                width: 100px;
                margin-left: 15px;
                background: linear-gradient(to bottom right, rgb(255, 51, 129), rgb(197, 0, 76));
            }
        }
    }
}

modal-content {
    input {
        width: 100%;
    }
}

.loader {
    display: block;
    position: absolute;
    width: 150;
    top: 40vh;
    left: calc(50% - 75px);
    .row {
        display: block;
    }
}

.block {
    background-image: url('../img/colors-1838392_1920.jpg');
    background-position: center;
    background-size: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    
    .comingContent {
        border-radius: 15px;
        width: 50%;
        height: fit-content;
        padding: 10px 20px 10px 20px;
        text-align: center;
        background-color: rgba(196, 196, 196, 0.9);
        
        h1 {
            margin-top: 10px;
            font-weight: 900;
        }
        h2 {
            margin-top: 10px;
        }
        
        img {
            height: 30px;
            margin: 0px 10px 15px 10px;

            &.logo {
                height: 50px;
                margin:  10px 0px;
            }
        }
    }

    @media (max-width: 692px) {
        .comingContent {
            
            h1 {
                margin-top: 10px;
                font-weight: 900;
                font-size: 34px;
            }
            h2 {
                margin-top: 10px;
                font-size: 24px;
            }
            
            img {
                height: 30px;
                margin: 0px 10px 15px 10px;
    
                &.logo {
                    height: 50px;
                    margin:  10px 0px;
                }
            }
        }
    }

    @media (max-width: 560px) {
        .comingContent {
            width: 90%;
            h1 {
                margin-top: 10px;
                font-weight: 900;
                font-size: 34px;
            }
            h2 {
                margin-top: 10px;
                font-size: 24px;
            }
            
            img {
                height: 30px;
                margin: 0px 10px 15px 10px;
    
                &.logo {
                    height: 40px;
                    margin:  10px 0px;
                }
            }
        }
    }
    @media (max-width: 446px) {
        .comingContent {
            
            h1 {
                margin-top: 10px;
                font-weight: 900;
                font-size: 34px;
            }
            h2 {
                margin-top: 10px;
                font-size: 24px;
            }
            
            img {
                height: 30px;
                margin: 0px 10px 15px 10px;
    
                &.logo {
                    height: 40px;
                    margin:  10px 0px;
                }
            }
        }
    }
}
