@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: Montserrat;
  color: #454552; }

.Header {
  width: 100%; }
  .Header .NavHeader {
    background-color: #ececec; }
    .Header .NavHeader img {
      height: 35px;
      margin: 0px; }
    .Header .NavHeader .imgNav {
      margin: 0 -3px 0 0px;
      height: 30px; }
    .Header .NavHeader .NavItems {
      font-size: 16px;
      margin-left: 12px;
      color: #436fff; }
      .Header .NavHeader .NavItems.icon {
        margin-left: 7px; }
        .Header .NavHeader .NavItems.icon img {
          height: 25px; }
      .Header .NavHeader .NavItems:hover {
        color: #1fa9ff; }

.CarouselStyle {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .CarouselStyle img {
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.container h1 {
  font-size: 38px;
  text-align: center;
  font-weight: bolder;
  margin: 25px 0 0 0; }

.container h4 {
  margin: 0 0 0 25px; }

.container p {
  text-align: justify; }
  .container p.normaltext {
    margin: 20px 20px 20px 25px; }
  .container p.indentText {
    text-indent: 50px; }

.container ul li {
  margin: 5px 5px 5px 50px; }

.container .aboutImg {
  width: 50%;
  height: 50%;
  margin: 25px 0 30px 25%;
  border-radius: 5px; }

.container .contactContent {
  margin: 20px 0 25px 0; }
  .container .contactContent .imgSide {
    text-align: center; }
    .container .contactContent .imgSide img {
      border: #d6d6d6 1px solid;
      border-radius: 5px;
      height: 250px; }

.cardContainer {
  margin: 0 0 30px 0; }
  .cardContainer .card {
    height: 392px;
    width: 310px;
    margin: auto;
    margin-top: 15px; }
    .cardContainer .card img {
      width: 100%;
      height: 180px;
      background: linear-gradient(to bottom right, #3061ca, #1fa9ff); }
    .cardContainer .card .btn {
      background: linear-gradient(to bottom right, #1fa9ff, #00c3ff);
      outline: none;
      border: none; }
      .cardContainer .card .btn:hover {
        background-color: #1e3ad8; }
      .cardContainer .card .btn.editBtn {
        width: 100px;
        background: linear-gradient(to bottom right, #5cda9b, #5cc599); }
      .cardContainer .card .btn.deleteBtn {
        width: 100px;
        margin-left: 15px;
        background: linear-gradient(to bottom right, #ff3381, #c5004c); }

modal-content input {
  width: 100%; }

.loader {
  display: block;
  position: absolute;
  width: 150;
  top: 40vh;
  left: calc(50% - 75px); }
  .loader .row {
    display: block; }

.block {
  background-image: url("../img/img4.jpg");
  background-position: center;
  background-size: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center; }

.comingContent {
  width: 50%;
  height: 300px;
  text-align: center;
  background-color: rgba(196, 196, 196, 0.8); }
